<!DOCTYPE html>
<html>
<title>Conselling</title>
<style>
body {
  font-family: Copperplate Gothic Bold;
 
  background-image: url('books.jpg');
  background-size: cover;
 
 
   }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
	font-family:Arial Rounded MT Bold;    
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;          
}



input[type=submit]:hover 
{
    background-color: #45a049;
}

div.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

</style>
<body>

<center><font face="Copperplate Gothic Bold" font size="6" color="blue">STUDENT DASHBOARD</font></center>
<div class="container">

   
<br>
<font face="Copperplate Gothic Bold" font size="3" color="black ">
Enter rank number</font></label>
    <input type="text" id="ranknumber" name="ranknumber" placeholder="Your Ranknumber..">

<font face="Copperplate Gothic Bold" font size="3" color="black">
Enter colleges</font></label>
    <input type="text" id="ranknumber" name="ranknumber"  placeholder="Enter only 5 colleges ..">	
	
	<a href="student1.html"> <font face="Copperplate Gothic Bold" font color="skyblue" size="+2">Return to Student details</font></a></center>
	</b><a href="intoduction.html"><font face="Copperplate Gothic Bold" font color="red" size="+2">
 logout
 </font></a></center>

<br>
{{> footer}}
</body>    
</html>
